 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/*Nav bar*/

.icon-nav img{  
    height: 1.5rem;
    width: 1.5rem;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 7rem;
    
}
.nav-img-container{
    display: flex;
    gap: 5px;
    align-items: center;
}
.nav-logo-text{
    font-size: 2.8rem;
}
.nav-option{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    
}
.nav-list{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.icon-nav{
    display: flex;
    gap: 1rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.5rem;
}
.icon-nav img:hover{
    cursor: pointer;
}
.nav-list li:hover{
    cursor: pointer;
}

/*M1-container*/

.m1-icon img{
 height: 1.2rem;
 width: 1.2rem;
}
.m1-icon{
    display: flex;
    gap:0.5rem;
    padding: 0.5rem 0rem;
}
.h-m{
    color: #0B0223;
    font-size: 2.5rem;
}
.cmn-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.goat{
    font-size: 5rem;
    padding: 1rem 0rem;
}
.m1-btn1{
    color: #FFF;
    font-size: 1rem;
    padding: 1rem 2rem;
    gap: 0.5rem;
    background: #FF42A5;
    border-radius: 2.7rem;
    border: none;
}  
.m1-btn2{
    margin-left: 1rem;
    color: #FFF;
    font-size: 1rem;
    padding: 1rem 2rem;
    gap: 0.5rem;
    background: #4EC5F7;
    border-radius: 2.7rem;
    border: none;
} 
.m1-btn{
    padding-top: 1rem;
}
.main1-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem 0rem;       
}
.small-text{
    color: #534C64;
    font-size: 1.3rem;
}
.m2-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section-2{
    margin: 4rem 0rem;
}
.m2-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}

.m2-imgs img{
    padding-bottom: 1rem;
    height: 100%;
}

.image-container {
    position: relative;
    
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: url('./images/play-button-icon-png-18919.png') ;
    background-size: contain;
    opacity: 0;
  }
  .btn-text{
    margin-bottom: 10px;
  }
  
  .image-container:hover .play-button {
    opacity: 1;
  }
  
  .image-container:hover img {
    opacity: 0.5 ;
    border: 3px solid red;
    filter: brightness(50%);
    
  }
  .image-container .play-button:hover{
    cursor: pointer;
  }
  .m3-text{
    padding-top: 250px;
    text-align: right; 
  }
  .m3-text p{
    padding-top: 30px;
  }

  .m3-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    
   
  }
  .s4-content{
    display: flex;
    gap:0.5rem;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 50px;
  }
  .s4-container{
    display:inline-flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    
  }
  .section-4{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 3rem;
   
  }
  .s4-content:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50px;
    border: 1px solid #FF42A5;
    color: #FF42A5;
    padding: 5px;
    cursor: pointer;
  }
  .f-logo-container img{
    height: 1.5rem;
    width: 1.5rem;
}
.f-logo-container{
    display: flex;
    gap:40px;
}
.right-text{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
}
.r-li li{
    list-style: none;
}
.r-li{
    display: flex;
    gap: 60px;
}

.f-list-container li{
    list-style: none;
}
.f-list-container{
    display: flex;
    gap: 60px;
    color: #FFF;
}
.footer-container{
    background: #0B0223;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 70px;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
}

.f-logo-container img{
    background-color: white;
    border-radius: 50%;
}
.f-list-container li:hover{
    cursor: pointer;
}

.f-logo-container img:hover{
    cursor: pointer;
}
.r-li li:hover{
    cursor: pointer;
}
